@font-face {
  font-family: pqmake;
  src: url(fonts/MTD\ Bigilla.otf);
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: pqmake, Geneva, Tahoma, sans-serif;
}

main {
  display: flex;
}
.left {
  width: 500px;
}

.image {
  max-width: 500px;
  width: 100vh;
  height: 100vh;
  background-image: url("images/background-makeup.jpg");
  background-size: cover;
}

img {
  max-width: 100%;
  max-height: 100%;
}

h1 {
  color: aliceblue;
  text-align: center;
}

.logo {
    display: flex; /* Enable Flexbox */
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Center children vertically */
    align-items: center; /* Center children horizontally */
    height: 200px; /* Set a height for the container (adjust as needed) */
    text-align: center; /* Center align text for <h1> */
}

.logo img {
    width: 400px; /* Set a custom size for the logo (optional) */
    margin-top: 60%;
    margin-bottom: 0px; /* Add spacing between the image and the heading */
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 100px;
}

.text-introduce, .btn-container {
  padding-left: 30px;
}

.form-container {
display: flex;
flex-direction: column;
gap:20px;
box-shadow: 10px 5px 5px lightgray;
padding: 5px 10px 30px 40px;
}

.row {
  display: flex;
  gap: 50px;
}
.input {
  display: flex;
  flex-direction: column;
}